<!-- FILEPATH: /Users/sauravaryal/Developer/urlshort/urlshorting/templates/shorten_url.html -->
<!DOCTYPE html>
<html>
    {% load qr_code %}
<head>
    <title>Shorten URL</title>
    <!-- Add your CSS and other meta tags here -->
</head>
<body>
    <h1>Shorten URL</h1>
    <form method="GET" action="">
        <input type="text" name="url" placeholder="Enter URL" required>
        <br>
        <input type="text" placeholder="Enter your custom key" name="key">
        <br>
        <button id="submit">Submit</button>
    </form>

    <div id="shor-url">
        
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#submit").click(function(e){
                e.preventDefault();
                var url = $("input[name=url]").val();
                var key = $("input[name=key]").val();
                if (url == ""){
                    alert("Please enter a URL");
                    return false;
                }else{
                    console.log(url,'url');
                    $.ajax({
                        url: "{% url 'account:creat_short_url' %}",
                        type: "GET",
                        data: {
                            url: url,
                            key: key
                        },
                        success: function(data){
                            if (data=== "Key already exist"){
                                alert("Key already exist");
                                return false;
                            }
                            else{
                                windows_domain = window.location.origin;
                            console.log(windows_domain,'windows_domain');
                            short_url = windows_domain + "/" + data;
                            
                            $("#shor-url").html("<a href='"+short_url+"' target='_blank'>"+short_url+"</a>");
                            
                            var qrcode = new QRCode(document.getElementById("shor-url"), {
                                text: short_url,
                                width: 128,
                                height: 128,
                                colorDark : "#000000",
                                colorLight : "#ffffff",
                                correctLevel : QRCode.CorrectLevel.H
                            });
                            
                            }
                            
                        }
                    });
                }
                
            });
        });
    </script>
</body>
</html>
